.app-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: var(--primary-color);
}

.app-wrapper {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1052px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.controllers-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .app-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .app-title {
    font-size: 1.5rem;
  }
}



