.box {
  width: 370px;
  height: 380px;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-button {
  color: var(--secondary-color);
  margin-top: 1rem;
  padding: 0.6rem 1.4rem;
  cursor: pointer;
}

.box-textarea {
  color: var(--secondary-color);
  padding: 1rem;
}

.box-message {
  color: #FFF;
}

@media screen and (max-width: 800px) {
  .box {
  margin-top: 3rem;
  width: 340px;
  height: 360px;
}
}